body {
    padding: 2rem;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
    font-weight: 500;
}


.box {
    border-radius: 0.5em;
    border: 1px solid black;
}

.big-box {
    padding: 2% 5% 2% 0;
}

.container {
    border: 1px solid red;
    padding: 0 2% 2% 2%;
}

.child-box {
    margin-left: 10%;
    margin-bottom: 20px;
    width: 260px;
    height: 90px;
}

/* 1er conteneur */

#first-container {
    background: hsl(69, 65%, 51%);
}

#first-container .child-box {
    background-color: hsla(115, 45%, 50%, 1);
    z-index: -1;
    position: relative;
}

/* 2eme conteneur position property */

#second-container {
    background-color: hsl(101, 50%, 50%);
    position: relative;
    z-index: -15000;
}

#second-container .child-box:first-child {
    background-color: hsl(346, 80%, 50%);
}

#second-container .child-box:nth-child(2) {
    background-color: hsl(231, 80%, 60%);
    position: relative;
    z-index: -9999;
}

/* 3eme conteneur transform property */

#third-container {
    background-color: hsla(182, 70%, 50%, 1);
    /* transform: rotate(10deg); */
}

#third-container .child-box:first-child {
    background-color: hsl(346, 80%, 50%);
}

#third-container .child-box:nth-child(2) {
    background-color: hsl(231, 80%, 60%);
    /* position: relative;
    z-index: -1; */
}

/* 4ème conteneur démo */

#four-container {
    background-color: hsla(14, 50%, 50%, 1);
    position: relative;
    z-index: -10;
}

#four-container .child-box:first-child {
    background-color: hsl(346, 80%, 50%);
    position: relative;
    z-index: 2;
}

#four-container .child-box:nth-child(2) {
    background-color: hsl(231, 80%, 60%);
}

#four-container .child-box:nth-child(3) {
    height: 250px;
    width: 90px;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 1;
    background-color: hsl(118, 80%, 60%);
}