@property --angle-conic-gradient {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

body {
    padding: 2rem;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
    font-weight: 500;
}

.container {
    border-radius: 0.5em;
    border: 1px solid red;
    padding: 2%;
    /* overflow: hidden; */
}

.item {
    border-radius: 0.5rem;
    border: 1px solid black;
    background-color: hsla(203, 100%, 79%, 1);
    margin: auto;
    height: 300px;
    aspect-ratio: 1/1;
}

.transform-item {
    /* transform: translate(50%, 50%); */
    /* transform: rotate3d(1, 1, 1, 45deg); */
    /* transform: rotateX(50deg); */
}

.transition-item {
    transition: all 2s linear;
    /* transform 10s ease; */

    /* La transition peut s'allier à la propriété transform */
}

.transition-item:hover {
    background: red;
    transform: rotateZ(300deg);
}

.animation-item:first-child {
    animation: deplacement-demo 5s infinite alternate linear;
    display: flex;
}

.text-animation-item {
    margin: auto;
}

@keyframes deplacement-demo {
    0% {
        transform: translateX(-100%) scale(0.4);
        color: hsla(0, 0%, 0%, 0);
    }

    50% {
        transform: translateX(0%) scale(0.7);
        color: hsla(0, 100%, 50%, 0.2);
    }

    100% {
        transform: translateX(100%) scale(1);
        background-color: darkslategray;
        color: hsla(0, 100%, 50%, 1);
        font-size: xx-large;
    }
}

.animation-item:nth-child(2) {
    position: relative;
    /* animation: avancement-demo 5s infinite alternate linear; */
}

.animation-item:nth-child(2)::after,
.animation-item:nth-child(2)::before {
    content: "";
    position: absolute;
    inset: 0;
    filter: blur(.5em);
    background: conic-gradient(from var(--angle-conic-gradient), grey, rgb(43, 140, 179), rgba(6, 100, 6, 0.137), red, grey);
    animation: turn-color infinite 5s linear;
}

@keyframes avancement-demo {
    0% {
        border: solid;
        transform: scale(0.1);
    }
}

@keyframes turn-color {
    0% {
        --angle-conic-gradient: 0deg;
    }

    100% {
        --angle-conic-gradient: 360deg;
    }
}