body {
    background-color: #062734;
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

:root {
    --clr-1: #052b2f;
    --clr-2: #073438;
    --clr-3: #0e4b50;
    --clr-4: #2d8f85;
    --clr-5: #637c54;
}

@keyframes conicRotation {
    0% {
        --gradient-angle: 0deg;
    }

    100% {
        --gradient-angle: 360deg;
    }
}

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.card {
    height: 500px;
    width: 300px;
    background-color: #021319;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card::before,
.card::after {
    content: "";
    position: absolute;
    inset: -0.5rem;
    background: conic-gradient(from var(--gradient-angle),
            var(--clr-3),
            var(--clr-4),
            var(--clr-5),
            var(--clr-4),
            var(--clr-3));
    animation: conicRotation 5s linear infinite;
    border-radius: inherit;
    z-index: -2;
}

.card::after {
    filter: blur(3.5em);
}

.btn-container {
    position: relative;
    overflow: hidden;
    border-radius: 100vmax;
    z-index: 1;
}

.btn {
    border: none;
    color: white;
    /* border-radius: 100vmax; */
    padding: 5px;
    cursor: pointer;
    border-radius: inherit;
    background: none;
    /* overflow: hidden; */
    /* position: relative; */
    background: none;
    /* z-index: 1; */
}

.btn::after {
    content: "";
    position: absolute;
    height: 200px;
    aspect-ratio: 1/1;
    background: conic-gradient(blue, transparent);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1s cubic-bezier(0.3, 1, 0.3, 1);
    border-radius: inherit;
    z-index: -1;
}

.btn:hover::after {
    transform: translate(-50%, -50%) rotate(360deg);
}

.btn-content {
    border-radius: inherit;
    padding: 1rem 2rem;
    background: #021319;
}