body {
    padding: 2rem;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
    font-weight: 500;
}

.container {
    border-radius: 0.5em;
    border: 1px solid red;
    padding: 0 2% 2% 2%;
}

.flex-container {
    background-color: hsla(14, 50%, 50%, 1);
    width: 600px;
}

.flex-item {
    border-radius: 0.5em;
    border: 1px solid black;
    padding: 10px;
    background-color: hsla(203, 100%, 79%, 1);
}

#first-container {
    display: flex;
    /* justify-content: center; */
}

#first-container .flex-item {
    min-width: 400px;
}

#second-container {
    display: flex;
    align-items: start;
}

/* 0 veut dire largeur minimum pour voir le contenu, comme un min-with */
#second-container .flex-item {
    flex-basis: 0%;
    flex-grow: 1;
}

#third-container {
    display: flex;

    /* démo pour les axes */
    flex-direction: column;
    height: 60vh;
    justify-content: center;
    align-items: center;
}

/* 0 veut dire largeur minimum pour voir le contenu, comme un min-with */
#third-container .flex-item {
    /* flex: 1; */
}

#third-container .flex-item:nth-child(1) {
    align-self: flex-end;
}